<div class="login">
  <div class="main">
    <div class="container b-container" id="b-container">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form", id: "b-form" }) do |f| %>
        <h2 class="form_title title">Sign in to Website</h2>
        <% flash.each do |key, value| %>
          <%= content_tag :div, value, class: "flash #{key}" %>
        <% end %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form__input" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "form__input" %>
        <%= f.submit "SIGN IN", class: "form__button button submit" %>
      <% end %>
    </div>
    <div class="switch" id="switch-cnt">
      <div class="switch__circle"></div>
      <div class="switch__circle switch__circle--t"></div>
      <div class="switch__container" id="switch-c1">
        <h2 class="switch__title title">Hello Friend !</h2>
        <%= link_to(new_user_registration_path) do %>
          <button class="switch__button button switch-btn">SIGN UP</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
